@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: rgb(255, 255, 255)

}

.home::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;   
  width: 100%;   
  height: 125%;
background: url("woods_picture.jpeg");
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} 

/* nav bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
p {
  padding: 0px;
}

/* Style the links inside the navigation bar */ /*including transition */
.topnav a {
   font-family: 'Rubik', sans-serif;
  float: left;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition: all 0.5s;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #2BCFFF;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2BCFFF;
  color: white;
}



/* FONT - ROBOTO */ 

.row {

margin: auto;

}

.column {
  float: left;
  width: 23%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 16px 16px;
  text-align: center;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.game {

  text-align: center;

}

.anythingreally {  

    font-family: 'Roboto', sans-serif;
    text-align: center;


}